@font-face {
	font-family: 'Nunito Sans';
	src: url('../fonts/NunitoSans-Regular.ttf') format('ttf');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito Sans';
	src: url('../fonts/NunitoSans-Italic.ttf') format('ttf');
	font-display: swap;
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Yeseva One';
	src: url('../fonts/YesevaOne-Regular.ttf') format('ttf');
	font-display: swap;
	font-weight: 400;
    font-style: normal;
}

body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: #000;
}

.header-container{
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.header-list {
    list-style: none;
    display: flex;
    text-transform: uppercase;
    font-size: 11px;
}

.logo{
    color: #E3B873;
    text-transform: uppercase;
    font-size: 11px;
}

.header-list-item{
    margin-right: 47px;
}

.header-link {
    color: #fff;
    text-decoration: none;
}

.header-link:hover {
	color: #E3B873;
}

.header-button{
    display: flex;
    align-items: center;
}

.header-phone {
    margin-right: 45px;
    color: #E3B873;
    font-size: 11px;

}

.button {
    background: #E3B873;
    color: #fff;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0;
    outline: 0;
    text-transform: uppercase;
    font-style: italic;
    font-size: 11px;
}

.button-header {
    padding: 13px 33px;
}

.button-hero {
    width: 207px;
    height: 51px;
}

.button-lite {
    width: 207px;
    height: 51px;
    margin-left: 20px;
    color: #fff;
    background-color: rgba(28,28,28,0);
    border: 1px solid #FFf;
    border-radius: 2px;
    text-transform: uppercase;
    font-style: italic;
    font-size: 11px;
}


.title {
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFF;
}

.subtitle {
    margin-top: 19px;
    margin-bottom: 41px;
    font-size: 22px;
    line-height: 36px;
    color: #FFF;
}

.hero-content {
    max-width: 600px;
    position: relative;
    z-index: 1;
}

.hero-subtitle {
    color: #E3B873;
}

.hero {
    background-image: url('../image/hero.jpg');
    background-size: cover;
    height: 707px;
    padding: 194px 0;
    position: relative;
}

.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.services {
    margin: 0px;
    height: 1074px;
    background-color: #000;
}

.services-list{
    margin: 0px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E3B873;

}

.services-list-item {
    margin-top: 107px;
    margin-right: 60px;
}

.services-list-item:first-child {
    padding-bottom: 6px;
    border-bottom: 1px solid #E3B873;
}

.services-list-item:nth-child(2){
    color: rgba(255, 255, 255, 0.3);
}
.services-list-item:nth-child(3){
    color: rgba(255, 255, 255, 0.3);
}

.online-control-svg svg:nth-child(2) {
    margin: 0px 10px;
}

.info-project {
    margin-top: 52px;
    display: flex;
    justify-content:space-between;
}

.info-project-flat {
    margin-top: 42px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title-services {
    font-family: 'Yeseva One';
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

.suptitle-services{
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

.title-info-project-flat{
    font-family: 'Yeseva One';
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.suptitle-info-project-flat {
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.nav-link {
    margin-top: 81px;
}

.link-dots {
    margin: 30px;
}

.info-project-descr {
    margin-right: 50px;
}

.info-projectr-flat-item {
    margin-bottom: 34px;
}

.online-control {
    display: flex;
    justify-content: center;
    margin-top: -270px;
}

.title-online-control {
    font-family: 'Yeseva One';
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.img-online-control {
    position: relative;
    width: 817px;
    height: 434px;
}

.img-online-control:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
}

.img-icon {
    position: absolute;
    top: 35%;
    left: 41%;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.online-control-svg {
    margin-top: 20px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hr-line {
    margin-top: 52px;
    margin-bottom: 35px;
    background-color: #E3B873;
    height: 3px;
    width: 55px;
}

.info-online-control {
    margin-bottom: 91px;
    width: 681px;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
}

.input-blok {
    display: flex;
    flex-direction: column;
}

.input-blok:nth-child(2) {
    padding-left: 58px;
    padding-right: 49px;
}

.form-input {
    margin-bottom: 37px;
    display: flex;
    justify-content: space-around;
}

.input-blok-label {
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.form-input-button {
    padding: 20px 75px; 
    font-style: normal;
}

.input-blok-input {
    width:231px;
    border: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    font-size: 14px;
    line-height: 23px;
    color: #363636;
}

.form-input-check {
    display: flex;
    justify-content: center;
}

.form-input-check-label {
    cursor: pointer;
  }
  .form-input-check-checkbox{
    display: none;
  }
  .form-input-check-fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
  }
  .form-input-check-fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
  }
  .form-input-check-checkbox:checked + .form-input-check-fake::before{
    opacity: 1;
  }

  .form-input-check-text {
    font-size: 14px;
    line-height: 163.68%;
    color: #181818;
  }

  .types-flat {
    margin-top: 75px;
  }

  .types-flat-svg {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.types-flat-svg svg:nth-child(2) {
    margin: 0px 9px 0px 13px; 
}

  .types-repair-title {
    font-family: 'Yeseva One';
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
  }

.types-repair-list {
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
}

.types-repair-img {
    z-index: -1;
}

.redecorating-info-title {
    font-family: 'Yeseva One';
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}

.redecorating-info-list {
    margin: 0px;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.redecorating-info {
    margin-top: -100px;
    width: 330px;
    height: 286px;
    background: #E3B873;
}